DATABASE_URL="POSTGRESS_URL"
AUTH_SECRET="JWT_SECRECT"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
STORAGE_PROVIDER="local"
STORAGE_BUCKET=""
STORAGE_ACCESS_KEY=""
STORAGE_SECRET_KEY=""
PAYMENT_PROVIDER="mock"
PAYMENT_SECRET_KEY=""
REDIS_URL=""
EMAIL_SERVER=""
EMAIL_FROM=""
